#ignore thumbnails created by windows
[Tt]humbs.db
*.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
_NCrunch_NextGen/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Generated_Code/
ClientBin/
[Bb]uild/
*.user
*.schemaview
*.dbmdl
*.csproj.ReSharper
*docstates
*csproj.user
*ReSharper
*ClientBin
*.favdoc
StyleCop.Cache
*received.txt
WebServer.log*
**_TeamCity**
testimpactdata.sdf
*.vssscc
*.vsmdi
*.vsd
*.xlsx
*.DotSettings
*.cd
*.dll
**/DeploymentPackages/*
*.orig
.merge_file*
*.svclog
*.log.*
log.txt
*.ncrunchsolution
*.ncrunchproject
